@model IEnumerable<pntt_231220952.Models.PnttComputer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PnttComName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PnttComPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PnttComImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PnttComStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PnttComName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PnttComPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PnttComImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PnttComStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PnttComId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PnttComId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PnttComId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
