@model pntt_231220952.Models.PnttComputer

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PnttComputer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PnttComName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PnttComName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PnttComPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PnttComPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PnttComImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PnttComImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PnttComStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PnttComStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PnttComId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
